<footer class="bg-black text-white border-t border-gray-200">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 py-4">
        <div class="text-center">
            <p class="text-xs">
                © <%= new Date().getFullYear() %> Blog Platform. All rights reserved.
            </p>
        </div>
    </div>
</footer>
